/* Optimisation css /**/

@font-face {
  font-weight: normal;
  font-style: normal;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body,
h1,
h2,
h3,
h4,
p {
  margin: 0;
  padding: 0;
}

/* rendre la scroll bar transparente /**/
/*::-webkit-scrollbar {
    width: 0px;
    background: transparent;
} /**/

body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.65;
  font-family: -apple-system, BlinkMacSystemFont, avenir next, avenir,
    helvetica neue, helvetica, Ubuntu, roboto, noto, segoe ui, arial, sans-serif;
}

/* début css /**/
a {
  color: black;
  text-decoration: none;
}

#site {
  display: grid;
  grid-template-columns: 1fr 5fr;
  grid-template-areas:
    "head head head"
    "side main main"
    "side main main";
  transition: grid-template-columns 300ms;
}

#header {
  position: sticky;
  top: 0;
  display: flex;
  align-self: flex-start;
  justify-content: space-evenly;
  grid-area: head;
  padding: 10px;
  background-color: rgb(0, 0, 0);
  & a, button{
    color: white;
    user-select: none;
    cursor: pointer;
    background-color: transparent;
    border: 0px;
    font-size: 1em;
  }
}

#exercises {
  grid-area: side;
  display: flex;
  flex-direction: column;
  padding: 10px;
  background: black;

  & a {
    color: white;
    text-wrap: nowrap;
  }
}


.hide {
  grid-template-columns: 0fr 1fr !important;
  & > #exercises {
    display: none;
    visibility: hidden;
  }
}

#main {
  min-height: 100vh;
  grid-area: main;
  display: grid;
  place-items: center;
  & > div {
    width: 50vw;
  }

  & #image-git {
    width: 50vw;
    height: auto;
  }
}

#footer {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 5rem;
  background-color: black;
  & a, p {
    color: white;
  }
}